*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;

}
/*-----------header-----------*/
img{
    width: 100%;
    height: auto;
    object-fit: cover;

}

.header1{

    width: 100%;
    height:15vh;
 
}
.logo{
    width: 150px;

}

.conatiner1{
    min-width: 80%;
    margin: 0 5%;
    padding-top: 30px;
}

.row{
  display: flex; 
  justify-content: center;
  align-items: center;

}
.col-2{
    flex-basis: 50%;
}
.header1 .nav-btn{
    display: flex;
    justify-content: flex-end;
  
  
  
}
.header1 .nav-btn a{
    text-decoration: none;
   padding: 10px;
   color: #0c1753;
   transition: all 0.3s;

}
.header1 .nav-btn a:hover {
   
    background-color: thistle;
border-radius: 13px;
padding: 5px;
opacity: 0.9;
}
/*--------------themiddle------------------*/
.middle-img{
    width: 600px;
padding-bottom: 50px;

}
.middle{
    width: 100%;
    height:40vh;
    background:linear-gradient( rgb(119, 109, 129) ,#9375ff);
}
.middle-conatiner{
    display: flex;
    min-width: 80%;
    margin: 0 5%;
    padding-top: 30px;

}
 .middle-conatiner .middle-right , .midlle-left{
    flex-basis: 50%;
 
    
   
}
.middle-conatiner .midlle-left{
    color: white;

}

.middle-conatiner .middle-right{
height: 300px;
align-items: center;
display: flex;
justify-content: center;


}
.h1-middle , .p-middle{
 margin: 20px;
 
}
.middle-button{
    all:unset;
    background-color: #ffe101;
    color: #00a69c;
    border-radius: 12px;
    cursor: pointer;
    padding: 8px 60px;
  margin: 50px;
  transition: all 0.3s;


}
.middle-button:hover{
opacity: 1;
background-color: rgb(252, 252, 6);
border-radius: 13px;
padding: 10px 66px;
  margin: 50px;
opacity: 0.9;}



/*--------------main content-----------*/

.main-content{
    width: 100%;
}

.main-p{
    text-align: center;
    color: #00a69c;
    margin: 35px 0;
}
.card-container{
 background-color: rgb(248, 240, 250 ,0.4)  ;
 
 padding-bottom:30px ;
    min-width: 80%;
    margin: 0 5%;
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
flex-direction: column;
margin: auto;

   

}
.card{
   display: flex;
   justify-content: center;
   align-items: center;
   column-gap: 40px;
    

}

 .card img{
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #fee552;
  margin: 20px 25%;
 

}


 .ux-ui{

    border: 2px solid white;
    width: 200px;
    height: 200px;
    
    box-shadow: 2px  5px 5px 2px gray;
    background-color: white;
    
}

.frontend{
    border: 2px solid white;
    width: 200px;
    height: 200px;
   
    box-shadow: 2px  5px 5px 2px gray;
    background-color: white;
    
}
.support{
    border: 2px solid white;
    width: 200px;
    height: 200px;
    box-shadow: 2px  5px 5px 2px gray;
    background-color: white;
}


.card a {
    display: flex;
    width: 100px;
text-decoration: none;
justify-content: center;
align-items: center;
margin: 20px 25%;
color:#0c1753;
transition: all 0.3s;


}

.card a:hover{
    opacity: 1;
    background-color: thistle;
border-radius: 13px;
padding: 5px;
opacity: 0.9;
}

/*------------------main details-----------------*/

.main-details{
   width: 100%; 
   font-size: 15px;
}

.d-container{
   
    height: 150vh;
    margin: 30px 5% 0 5%;
    min-width: 80%;
    display: grid; 
    grid-template-columns: repeat(2,fr);
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
      "  mycol1 mycol2 "
      "mycol3 mycol4 " 
      "mycol5 mycol6"; 
  }


  .col1 { 

       grid-area: mycol1; 
      margin: auto;}



  .col2 {
  
    
    grid-area: mycol2;
   opacity: 0.8;
   margin: auto;
  padding: 50px 20px;
 }

 .col3{
   
    grid-area: mycol3;
   opacity: 0.8;
   margin: auto;
   padding: 50px 20px;
  
 }
 .col4{
   
    grid-area: mycol4;
   opacity: 0.8;
   margin: auto;
 }

 .col5{
   
    grid-area: mycol5;
   opacity: 0.8;
   margin: auto;
   
 }
 .col6{
    
    grid-area: mycol6;
   opacity: 0.8;
   margin: auto;
   padding: 50px 20px;
 }
  
 .h1d{
     margin-bottom: 20px;
 color: #00a69c;
 }
  
 

  .d-container img{
      width: 300px;
  }
  
/*---------------contact--------------------*/
.contact{

    width: 100%;
    font-size: 15px;
}

.container-contact{
    height: 70vh;
    min-width: 80%;
    display: grid; 
    grid-template-columns: repeat(2,fr);
    grid-template-rows: 1fr ;
    grid-template-areas: 
      "  mycol1-cont mycol2-cont ";
      background-color: #0c1753;
      color: white;
   padding-top: 20px;
      
      
       

}

.col1-cont{
  grid-area: mycol1-cont; 
  margin: auto;

}

.col2-cont{
    grid-area:mycol2-cont; 
    margin: auto;
  
  }



input{
    margin-left:  20px;
    margin-bottom: 10px;
    padding: 10px;
     border-radius: 5px;
 }
 .num , .city{
     all:unset;
     background-color: white;
    width: 200px;
    border-radius: 8px;
    margin: 10px;
    padding: 10px;
    color: black;
    
  
 }
 .emil , .subject {
     all:unset;
     background-color: white;
 width: 450px;
 border-radius: 8px;
 margin: 10px;
 padding: 10px;
 color: black;
    
   
 }
 .massage{
     all:unset;
     background-color: white;
     width: 450px;
     height: 100px;
     border-radius: 8px;
     margin: 10px;
     padding: 10px;
     color: black;}

     .submit{
        all:unset;
        background-color: #ffe101;
        width: 450px;
        margin: 10px;
        padding: 10px; 
        color: black;
        text-align: center;
        border-radius: 8px;
        cursor: pointer;
       
    
    }
    .p-col2{
        margin: 10px 0 15px 10px;
    }

   
/*--------------thesidebar-----------------*/


.the-sidebar{

   width: 100%; 
   background-color: rgb(248, 240, 250 ,0.6) ;
color: #0c1753;
}

.container-sidebar{
    
    min-width: 80%;
    height: 20vh;
    padding-left: 10% ;
display: flex;
justify-content: center;
align-items: center;

    display: grid; 
    grid-template-columns: repeat(4,fr);
    grid-template-rows: 1fr ;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
      " mylogo mysidebar1 mysidebar2 mysidebar3 ";
}


.logo-sidebar img{
    width: 100px;
}


.logo-sidebar{
grid-area: mylogo;

}

.sidebar1{
grid-area: mysidebar1;
}
.sidebar2{
    grid-area: mysidebar2;
}
.sidebar3{
    grid-area: mysidebar3;
}

.container-sidebar a{

    text-decoration: none;
    color:#0c1753;
    transition: all 0.3s;
    
    
    }
    
    .container-sidebar a:hover{
        opacity: 1;
        background-color: thistle;
    border-radius: 8px;
    
    opacity: 0.9;}

    /*---------------footer-----------------*/

footer{
    background:linear-gradient( rgb(119, 109, 129) ,#9375ff);
    width: 100%;
    height:8vh;
    display: flex;
    justify-content: center;
    justify-items: center;
    color: white;
    
}
footer span{
    margin: auto;
}
footer strong{
    color:  #0c1753;
}


/*---------------------------------------------*/
/*---------------------------------------------*/







/*----------------responsive-----------------*/

@media screen and (max-width:800px){

*{
font-size: 10px;
}


/*-----------header-----------*/

.logo{
    width: 60px;
}


/*--------------themiddle------------------*/
.middle-img{
    width: 250px;


}

.middle{
    width: 100%;
    height:70vh;
    background:linear-gradient( rgb(119, 109, 129) ,#9375ff);
}
.middle-conatiner{
    display: inline-block;
    min-width: 80%;
    margin: 0 5%;
    padding-top: 30px;

}
 .middle-conatiner .middle-right , .midlle-left{
    flex-basis: 50%;
 
    
   
}
.middle-conatiner .midlle-left{
    font-size: 10px;
    color: white;
    margin-left: 40px;
    margin-top: 20px;

}



.h1-middle , .p-middle{
 margin: 20px ;
 
}
.middle-button{
    all:unset;
    background-color: #ffe101;
    color: #00a69c;
    border-radius: 12px;
    cursor: pointer;
    padding: 6px 20px;
  margin: 30px;
  transition: all 0.3s;


}
.middle-button:hover{
opacity: 1;
background-color: rgb(252, 252, 6);
border-radius: 13px;
padding: 10px 30px;
  margin: 30px;
opacity: 0.9;}



/*--------------main content-----------*/

.main-content{
    width: 100%;
}

.main-p{
    text-align: center;
    color: #00a69c;
    margin: 35px 0;

}
.card-container{
  
    display:block;
    justify-content: center;
    align-items: center;
flex-direction: column;
 background-color: rgb(248, 240, 250 ,0.4)  ;
 
 padding-bottom:30px ;
    min-width: 80%;
    margin: 0 5%;
    padding-top: 30px;
   
   

}
.card{
   display: block;
   margin: 30px;
    

}

 .card img{
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #fee552;
  margin: 20px 25%;
 

}


 .ux-ui{

    border: 2px solid white;
    width: 150px;
    height: 150px;
    
    box-shadow: 2px  5px 5px 2px gray;
    background-color: white;
    margin: 10px auto;
    
}

.frontend{
    border: 2px solid white;
    width: 150px;
    height: 150px;
   
    box-shadow: 2px  5px 5px 2px gray;
    background-color: white;
    margin: 10px auto;
    
}
.support{
    border: 2px solid white;
    width: 150px;
    height: 150px;
    box-shadow: 2px  5px 5px 2px gray;
    background-color: white;
    margin: 10px auto;
}


.card a {
    display: flex;
    width: 60px;
text-decoration: none;
justify-content: center;
align-items: center;
margin: auto;
color:#0c1753;
transition: all 0.3s;


}

.card a:hover{
    opacity: 1;
    background-color: thistle;
border-radius: 13px;
opacity: 0.9;
}



/*------------------main details-----------------*/

.main-details{
   width: 100%; 
   font-size: 10px;
}

.d-container{
   
    height: 200vh;
    margin: 30px 5% 0 5%;
    min-width: 80%;
    display: grid; 
    grid-template-columns: repeat(2,fr);
    grid-template-rows: 1fr 1fr 1fr ;
    grid-template-areas: 
      "  mycol1 mycol2 "
      "mycol3 mycol4 " 
"mycol5 mycol6";

  }


  .col1 { 

       grid-area: mycol1; 
      margin: auto;}



  .col2 {
  
    
    grid-area: mycol2;
   opacity: 0.8;
   margin: auto;
  padding: 50px 20px;
 }

 .col3{
   
    grid-area: mycol3;
   opacity: 0.8;
   margin: auto;
   padding: 50px 20px;
  
 }
 .col4{
   
    grid-area: mycol4;
   opacity: 0.8;
   margin: auto;
 }

 .col5{
   
    grid-area: mycol5;
   opacity: 0.8;
   margin: auto;
   
 }
 .col6{
    
    grid-area: mycol6;
   opacity: 0.8;
   margin: auto;
   padding: 50px 20px;
 }
  
 .h1d{
     margin-bottom: 20px;
 color: #00a69c;
 }
  
 

  .d-container img{
      width: 150px;
  }
  
/*---------------contact--------------------*/
.contact{

    width: 100%;
    font-size: 10px;
}

.container-contact{
    height: 70vh;
    min-width: 80%;
    display: grid; 
    grid-template-columns: repeat(2,fr);
    grid-template-rows: 1fr ;
    grid-template-areas: 
      "  mycol1-cont mycol2-cont ";
      background-color: #0c1753;
      color: white;
   padding-top: 20px;

      
      
       

}

.col1-cont{
   
  grid-area: mycol1-cont; 
  margin-left: 10px;

}

.col2-cont{
    
    grid-area:mycol2-cont; 
    margin: auto;
    padding-left: 25px;
  
  }



input{


     border-radius: 5px;
 }

 .num {
       all:unset;
     background-color: white;
    width: 20%;
    border-radius: 8px;
    margin: 10px 10px 10px 10px;
    padding: 10px;
    color: black;
    
 } 
 
 .city{
     all:unset;
     background-color: white;
    width: 20%;
    border-radius: 8px;
    margin: 10px auto;
    padding: 10px;
    color: black;
    
    
  
 }
 .emil , .subject {
     all:unset;
     background-color: white;
 width: 120px;
 border-radius: 8px;
 margin: 10px;
 padding: 10px;
 color: black;
    
   
 }
 .massage{
     all:unset;
     background-color: white;
     width:120px;
     height: 50px;
     border-radius: 8px;
     margin: 10px;
     padding: 10px;
     color: black;}

     .submit{
        all:unset;
        background-color: #ffe101;
        width: 120px;
        margin: 10px;
        padding: 10px; 
        color: black;
        text-align: center;
        border-radius: 8px;
        cursor: pointer;
       
    
    }
    .p-col2{
        margin: 10px 10px 15px 10px;
    }

   
/*--------------thesidebar-----------------*/


.the-sidebar{

   width: 100%; 
   background-color: rgb(248, 240, 250 ,0.6) ;
color: #0c1753;
font-size: 8px;
}

.container-sidebar{
    
    min-width: 80%;
    height: 20vh;
    padding-left: 10% ;
display: flex;
justify-content: center;
align-items: center;

    display: grid; 
    grid-template-columns: repeat(4,fr);
    grid-template-rows: 1fr ;
    grid-template-columns: 0.5fr 1fr 1fr 1fr;
    grid-template-areas: 
      " mylogo mysidebar1 mysidebar2 mysidebar3 ";
}


.logo-sidebar img{
    width: 50px;
}


.logo-sidebar{
grid-area: mylogo;

}

.sidebar1{
grid-area: mysidebar1;

}
.sidebar2{
    grid-area: mysidebar2;
}
.sidebar3{
    grid-area: mysidebar3;
}

.container-sidebar a{

    text-decoration: none;
    color:#0c1753;
    transition: all 0.3s;
    
    
    
    }
    
    .container-sidebar a:hover{
        opacity: 1;
        background-color: thistle;
    border-radius: 8px;
    
    opacity: 0.9;}

    /*---------------footer-----------------*/

footer{
    background:linear-gradient( rgb(119, 109, 129) ,#9375ff);
    width: 100%;
    height:8vh;
    display: flex;
    justify-content: center;
    justify-items: center;
    color: white;
    
}
footer span{
    margin: auto;
}
footer strong{
    color:  #0c1753;
}


}


